<div class="info">
  <h2>
    {{'Create' | translate }}
  </h2>
  <button (click)="createAccount()" class="btn btn-success">{{'Create' | translate }}</button>
  <br>
  <br>
  <button (click)="open()" class="btn btn-success">Create with modal form</button>
</div>
<br />
<div *ngIf="accounts" class="container">
    <h2 class="info">{{'MyAccounts' | translate }}</h2>
  <div class="row">
    <div *ngFor="let account of accounts" class="col-md-4">
      <div id="item" class="card mb-4 box-shadow mt-4 pt-3">
        <div class="card-body">
          <h3><strong>{{ account.name }}</strong></h3>
          <p class="card-text">{{'AccountValue' | translate }} {{ account.amount }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button
                type="button"
                routerLink="/accountDetail/{{ account.accountId }}"
                class="btn btn-sm btn-outline-secondary"
              >
              {{'ViewDetailOfAccount' | translate }}
              </button>
            </div>
            <p class="card-text">
              <small class="text-muted"
                >{{'AccountType' | translate }} {{ account.currency }}</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div *ngIf="transactionLastTen" class="container">
  <h2 class="info"> {{'RecentEvents' | translate }}</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{'Description' | translate }}</th>
        <th scope="col">{{'Amount' | translate }}</th>
        <th scope="col">{{'Currency' | translate }}</th>
        <th scope="col">{{'TransactionDate' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transactionLastTen">
        <th scope="row">{{ t.description }}</th>
        <td>{{ t.amount }}</td>
        <td>{{ t.currency }}</td>
        <td>{{ t.actionDate | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>
